<h2> API Call Success! </h2>

<ul><h3>Details of the first data instance</h3>
  <li>Name: <%= apiName %></li>
  <li>ID: <%= apiID %></li>
  <li>Address: <%= apiAddress %></li>
  <li>City: <%= apiCity %></li>
  <li>Zip Code: <%= apiZipCode %></li>
  <li>Longitude: <%= apiLongitude %></li>
  <li>Latitude: <%= apiLatitude %></li>
  <li>Inspection Date: <%= apiInspectionDate %></li>
  <li>Inspection Result: <%= apiInspectionResult %></li>
  <li>Violation Type: <%= apiViolationType %></li>
  <li>Violation Description: <%= apiViolationDescription %></li>
</ul>
